// colors variables:
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-invalid: #ac4639;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fe;

$color-dark-grey: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #6e6e6e;
$color-grey-light-1: #e9e9e9;
$color-grey-light-2: #f3f3f3;
$color-shadow-dark: rgba(0, 0, 0, 0.3);
$color-white: #f7f7f7;
$color-white-transparent: #f7f7f785;
$color-dark: #232323;
$color-darker: #141414;

// grid:
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// fonts:
$default-font-size: 1.6rem;
