.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 0.15rem 4rem rgba($color-dark, 0.4);
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    transition: all 0.3s;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.333333%;
      box-shadow: 0 0.1rem 3rem rgba($color-dark, 0.2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 4;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 0.5rem;
        left: 0;

        transform: scale(1.2);
      }
    }

    &:hover {
      /*  outline: 1rem solid $color-primary; */
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.3rem 6rem rgba($color-dark, 0.6);
      z-index: 2;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
